Application/Temp
Application/Library
Application/ProjectSettings
Application/Application-csharp.sln
Application/Application.sln
Application/Assembly-CSharp-vs.csproj
Application/Assembly-CSharp.csproj